.Feed{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    position: absolute;
    overflow: auto;
    background-color: #4f91b3;
}

.message-container{
    display: flex;
    flex-flow: column;
    margin: 5px 0px 5px 15px;
    max-width: 120px;
    background-color: #F5F5F5;
    border-radius:10px;
}

.message-user{
    margin: 4px 7px 2px 7px;
    font-size: 11px;

}

.message-value{
    margin: 2px 7px 4px 7px;

    font-size: 11px;
}