.feed{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
}

.background{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #464d63;
    z-index: 1;
}

.messages_list{
    position: absolute;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 20px 10px 85px 10px;
    z-index: 2;
}